<!doctype html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' http://appvipswi.easwi.it; script-src 'self' 'unsafe-inline'; media-src 'self'">
	<script type="text/javascript" src="phonegap.js"></script>
	<script src="jquery.js" type="text/javascript"></script>
	<script>
    function playAudio(id) {
	var audioElement = document.getElementById(id);
	var url = audioElement.getAttribute('src');
	var my_media = new Media('/android_asset/www/' + url,
			// success callback
			 function () { console.log("playAudio():Audio Success"); },
			// error callback
			 function (err) { console.log("playAudio():Audio Error: " + err); }
	);
		   // Play audio
	my_media.play();
	}
</script>  
<style>
.play {
	pointer : pointer;
}    
.pause {
	pointer : pointer;
}    

</style>
</head>
<body>
	<audio id="successSound" src="grab.mp3" type="audio/mpeg" ></audio>
	<button onclick="playAudio('successSound')">Play successSound local</button>
</body>
</html>
